* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #00112F, #003366);
    padding: 15px 30px;
    border-bottom: 2px solid #0c0c4d;
}

header a:first-of-type {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header a:first-of-type img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}

header a:first-of-type span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

nav#nav {
    display: flex;
    gap: 20px;
}

nav#nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.3s;
}

nav#nav a:hover {
    color: #5762ff;
}


#profile-container {
    display: flex;
    align-items: center;
}

#profile-container img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #555;
    transition: transform 0.3s;
}

#profile-container img:hover {
    transform: scale(1.1);
}

nav#nav img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

nav#nav a:hover .icon-header {
  filter: invert(42%) sepia(62%) saturate(1022%) hue-rotate(202deg) brightness(100%) contrast(101%);
}