@media screen and (max-width: 768px) {

    header.bg-dark {
        background-color: #00112f !important;
    }

    .nav {
        color: #e2e2e2;
        text-decoration: none;
        font-size: 10.2px;
    }

    .nav img {
        width: 10px;
        height: auto;
        margin-right: 8px;
        vertical-align: middle;
    }

    #flex{
    grid-template-columns: repeat(1, 1fr);
    }

    
    #nav.active {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }


    #menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
    }


    #nav {
        display: none !important;
    }


    #botoes-login {
        display: none !important;
    }

    .nav-link {
        padding: 10px 0;
        text-align: center;
    }

    
}